@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <html>
    <body>
        Student Name : @Model.Name
        <br />
        Student Gender : @Model.Gender
        <br />
        @ViewBag.CurrentDate
        <br />
        @ViewData["Title"]
        <br />
        @TempData["Location"]
    </body>
    </html>
}
