<html>
<body>
    Student Name : @Model.Name
    <br />
    Student Gender : @Model.Gender
    <br />
    @ViewBag.CurrentDate
    <br/>
    @ViewData["Title"]
    <br/>
    @TempData["Location"]
</body>
</html>